NODE_ENV=
PORT=
MOCK_EVENT_INTERVAL_MS=

KAFKA_CLIENT_ID=
KAFKA_BROKERS=
KAFKA_DOCKER_BROKERS=
KAFKA_SECURITY_EVENTS_TOPIC=
KAFKA_CONSUMER_GROUP_ID=

ANALYZER_LARGE_FILE_COPY_BYTES_THRESHOLD=
ANALYZER_USB_FILE_COPY_WINDOW_SECONDS=
ANALYZER_FILE_COPY_EXTERNAL_DOMAIN_WINDOW_SECONDS=
ANALYZER_DNS_SPIKE_WINDOW_SECONDS=
ANALYZER_DNS_SPIKE_THRESHOLD=
ANALYZER_EXTERNAL_DOMAINS=

POSTGRES_HOST=
POSTGRES_DOCKER_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DASHBOARD_PORT=
DASHBOARD_BACKEND_URL=
DASHBOARD_DOCKER_BACKEND_URL=